.container {
  width: 320px;
  margin: 0 auto;
  position: relative;
  box-shadow:
    5px 0 10px rgba(0, 0, 0, 0.1),
    -5px 0 10px rgba(0, 0, 0, 0.1);

  @media (min-width: $tablet) {
    width: 768px;
  }

  @media (min-width: $desktop) {
    width: 1200px;
  }
}
