.features {
  list-style: none;
  padding: 36px 0 7px 0;
  margin: 0;
  text-align: left;

  @include flex();

  @media (min-width: $tablet) {
    padding: 60px 0;
  }

  @media (min-width: $desktop) {
    padding: 61px 0 82px 0;
  }
}

.features__item {
  display: flex;
  justify-content: flex-start;
  padding: 0 40px 30px 20px;

  @media (min-width: $tablet) {
    width: 33%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 40px;
  }

  &--house {
    @media (min-width: $tablet) {
      order: 0;
    }
  }

  &--house .features__item-text {
    width: 210px;

    @media (min-width: $tablet) {
      width: auto;
    }
  }

  &--gift {
    @media (min-width: $tablet) {
      order: 2;
    }
  }

  &--burder {
    @media (min-width: $tablet) {
      order: 1;
    }
  }

  &--burger .features__item-text {
    @media (min-width: $tablet) {
      width: 155px;
      margin: 0 auto;
    }

    @media (min-width: $desktop) {
      width: 285px;
    }
  }
}

.features__item-img {
  width: 30px;

  @media (min-width: $tablet) {
    width: auto;
    margin-bottom: 20px;
  }

  & svg {
    fill: $blue;
    margin-top: -10px;
  
    @media (min-width: $tablet) {
      margin-top: 0;
      width: auto;
    }
  }

  &--house svg {
    @media (min-width: $tablet) {
      height: 72px;
    }
  }

  &--burger svg {
    margin-top: -7px;

    @media (min-width: $tablet) {
      margin-top: 0;
      height: 72px;
    }
  }

  &--gift svg {
    margin-top: -13px;
    margin-left: 5px;

    @media (min-width: $tablet) {
      margin-top: 0;
      margin-left: 0;
      height: 72px;
    }
  }
}

.features__item-textblock {
  width: 200px;
  margin-left: 20px;

  @media (min-width: $tablet) {
    width: 165px;
    margin-left: 0;
  }

  @media (min-width: $desktop) {
    width: 290px;
  }
}

.features__item-title,
.features__item-text {
  margin: 0;
  padding: 0;
}

.features__item-title {
  font-size: 18px;
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    font-size: 22px;
    margin: 5px 0 25px 0;
  }

  @media (min-width: $desktop) {
    margin: 5px 0 22px 0;
  }
}

.features__item-nl-text {
  @media (min-width: $desktop) {
    display: block;
  }
}
