.features {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;

  @include flex();
  padding-top: 36px;
}

.features__item {
  display: flex;
  justify-content: flex-end;
  padding: 0 40px 36px 20px;
}

.features__item-img svg {
  fill: $blue;
}

.features__item-textblock {
  width: 200px;
  margin-left: 20px;
}

.features__item-title,
.features__item-text {
  margin: 0;
  padding: 0;
}

.features__item-title {
  margin-bottom: 20px;
}
