.features {
  list-style: none;
  padding: 36px 0 7px 0;
  margin: 0;
  text-align: left;

  @include flex();

  @media (min-width: $tablet) {
    padding: 60px 0;
  }

  @media (min-width: $desktop) {
    padding: 60px 0 80px 0;
  }
}

.features__item {
  display: flex;
  justify-content: flex-start;
  padding: 0 40px 30px 20px;

  @media (min-width: $tablet) {
    width: 33%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 40px;
  }

  &--house {
    @media (min-width: $tablet) {
      order: 0;
    }
  }

  &--gift {
    @media (min-width: $tablet) {
      order: 2;
    }
  }

  &--burder {
    @media (min-width: $tablet) {
      order: 1;
    }
  }
}

.features__item-img {
  width: 30px;

  @media (min-width: $tablet) {
    width: auto;
  }

  &--house svg {
    @media (min-width: $tablet) {
      height: 72px;
    }
  }

  &--burger svg {
    @media (min-width: $tablet) {
      height: 72px;
    }
  }

  &--gift svg {
    @media (min-width: $tablet) {
      height: 72px;
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.features__item-img svg {
  fill: $blue;
  margin-top: -10px;

  @media (min-width: $tablet) {
    margin-top: 0;
    width: auto;
  }
}

.features__item-textblock {
  width: 200px;
  margin-left: 20px;

  @media (min-width: $tablet) {
    width: 165px;
    margin-left: 0;
  }

  @media (min-width: $desktop) {
    width: 290px;
  }
}

.features__item-title,
.features__item-text {
  margin: 0;
  padding: 0;
}

.features__item-title {
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    font-size: 22px;
    margin: 5px 0 25px 0;
  }

  @media (min-width: $desktop) {
    margin: 5px 0 22px 0;
  }
}
