@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/ptsans.woff"),
    url("../fonts/ptsans.woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/ptsansbold.woff"),
    url("../fonts/ptsansbold.woff2");
}
