.footer {
  @include flex();
  background-color: $white;
  padding: 30px 80px 20px 80px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 0 $pad-tab 35px $pad-tab;
    align-items: center;
  }

  @media (min-width: $desktop) {
    padding: 30px 120px 35px 120px;
    align-items: center;
  }

  &--inner .footer__social {
    width: 150px;
    margin-left: 5px;

    @media (min-width: $tablet) {
      margin-top: 38px;
      margin-left: 0;
    }
  }

  &--inner .footer__copy {
    @media (min-width: $desktop) {
      margin-top: 25px;
    }
  }

  &--inner .footer__hashtag {
    @media (min-width: $desktop) {
      margin-top: 25px;
    }
  }
}

.footer__hashtag {
  @include bold();

  line-height: 36px;

  @media (min-width: $tablet) {
    margin-top: -5px;
  }
}

.footer__social {
  width: 153px;
  margin: 33px 0 40px 3px;

  @media (min-width: $tablet) {
    width: 150px;
    margin: 35px 10px 40px 0;
  }

  @media (min-width: $desktop) {
    margin: 3px 10px 11px 0;
  }
}

.footer__copy {
  @media (min-width: $tablet) {
    margin-top: -3px;
  }
}

.footer__copy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
}

.footer__img {
  margin-left: 10px;

  @media (min-width: $tablet) {
    margin-left: 11px;
  }

  &:hover {
    fill: $blue;
  }

  &:active {
    fill: rgba(0, 0, 0, 0.3);
  }
}
