.footer {
  @include flex();
  background-color: $white;
  padding: 30px 80px 20px 80px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 30px $pad-tab 20px $pad-tab;
    align-items: center;
  }
}

.footer__hashtag {
  @include bold();
}

.footer__social {
  margin: 30px 0;
  @media (min-width: $tablet) {
    width: 150px;
  }
}

.footer__copy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
}

.footer__img {
  margin-left: 10px;
}
