.footer {
  @include flex();
  background-color: #fff;
  padding: 30px 80px 20px 80px;
  text-align: center;
}

.footer__hashtag {
  @include bold();
}

.footer__social {
  margin: 30px 0;
}

.footer__copy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__img {
  margin-left: 10px;
}
