.form-section {
  padding: 0 15px;
  background-color: $white;

  @media (min-width: $tablet) {
    padding: 0 $pad-tab;
  }
}

.form {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__fieldset {
  padding: 15px 0 $pad-mob 0;
  border: none;

  @media (min-width: $tablet) {
    padding: 20px 0;
    order: 3;
    width: 100%;
  }

  &--impr,
  &--name {
    @media (min-width: $tablet) {
      width: 45%;
    }
  }

  &--impr {
    @media (min-width: $tablet) {
      order: 1;
    }
  }

  &--name {
    @media (min-width: $tablet) {
      order: 2;
    }
  }
}

.form__legend {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;

  @include center();
}

.form__label {
  &--block {
    display: block;
    position: relative;
    text-transform: none;
    font-weight: 700;
    font-size: 18px;
  }

  &--radio {
    padding: 15px 0 33px 80px;
  }
}

.form__input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  &--block {
    display: block;
    position: relative;

    @media (min-width: $desktop) {
      width: 48%;
      display: flex;
      justify-content: space-between;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 50px;
    z-index: 1;
  }

  &--phone::before {
    right: 18px;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-phone.svg");

    @media (min-width: $desktop) {
      top: 21px;
    }
  }

  &--email::before {
    right: 19px;
    width: 17px;
    height: 15px;
    background-image: url("../img/icon-mail.svg");

    @media (min-width: $desktop) {
      top: 23px;
    }
  }
}

.form__contacts {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }

  & .form__label {
    display: block;
    margin-bottom: 8px;
    padding-left: 24px;

    @media (min-width:$tablet) {
      margin-bottom: 0px;
      padding-left: 0px;
    }
  }
}

.form__input {
  width: calc(100% - 44px);
  background-color: #f2f2f2;
  padding: 22px;
  border: none;

  &--txt {
    @include font();
  }

  &::placeholder {
    color: $black;
    font-weight: 700;
    font-size: 18px;
  }
}

.form__input-wrap label {
  margin-right: 20px;
}

.form__checkboxes {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__checkbox {
  @media (min-width: $tablet) {
    width: 50%;
  }

  @media (min-width: $desktop) {
    width: auto;
  }
}

.form__bottom {
  width: 100%;

  @media (min-width: $tablet) {
    order: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__submit {
  @include font();
  @include bold();
  @include bg-blue-col-white();

  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 15px 0;
  border: none;

  @media (min-width: $tablet) {
    width: 324px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    width: 480px;
  }
}

.form__span {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}
