.header {
  position: relative;
  background-color: $white;
  padding-bottom: 55px;

  @media (min-width: $tablet) {
    height: 55px;
    padding-bottom: 0;
  }
}

.header__button {
  position: absolute;
  border: none;
  right: 13px;
}

.header__button--open {
  bottom: 12px;
  background-color: $white;

  @media (min-width: $tablet) {
    display: none;
  }
}

.header__button--close {
  top: 14px;
  background-color: $blue;

  @media (min-width: $tablet) {
    display: none;
  }
}

.header__button--hide {
  display: none;
}

.header__button--open svg {
  fill: $blue;
}

.header__button--close svg {
  fill: $white;
}
