.header {
  position: relative;
  background-color: $white;
  @media (min-width: $tablet) {
    height: 55px;
  }
}

.header__button {
  position: absolute;
  top: 12px;
  right: 8px;
  background-color: $white;
  border: none;
  @media (min-width: $tablet) {
    display: none;
  }
}

.header__button svg {
  fill: $blue;
}
