.hero {
  background-color: $blue;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 88px 20px 83px 20px;
  @include flex-center();
}
