.hero {
  position: relative;
  background-color: $blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -225px 0;
  padding: 91px 20px 85px 20px;

  @include flex-center();

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 26px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
  }

  @media (min-width: $mobile) and (min-resolution: $retina-dpi), (min-width: $mobile) and (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    padding: 78px 150px 87px 150px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 0 0;

    &::after {
      width: 768px;
      height: 57px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }
  }

  @media (min-width: $tablet) and (min-resolution: $retina-dpi), (min-width: $tablet) and (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }

  @media (min-width: $desktop) {
    padding: 78px 150px 90px 150px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    &::after {
      width: 1200px;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  @media (min-width: $desktop) and (min-resolution: $retina-dpi), (min-width: $desktop) and (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }

  &--inner {
    padding: 53px 20px 68px 20px;
    background-position: -234px -240px;
    background-size: 248%;

    @media (min-width: $tablet) {
      padding: 95px 0 117px 0;
      background-position: bottom;
      background-size: cover;
    }

    @media (min-width: $desktop) {
      padding: 105px 0 117px 0;
    }
  }
}

.hero__img {
  @media (min-width: $tablet) {
    width: 450px;
    height: 355px;
  }

  @media (min-width: $desktop) {
    height: auto;
  }
}

.hero__img-just-name {
  @media (min-width: $tablet) {
    width: 460px;
    height: auto;
  }
}
