.hotels-search {
  padding-top: 30px;
  background-color: $white;
  text-align: center;

  @media (min-width: $tablet) {
    padding-top: 55px;
  }
}

.hotels-search__text {
  padding: 0 20px;
  margin-top: 22px;
  line-height: 23px;

  @media (min-width: $tablet) {
    margin: 25px auto 0 auto;
  }

  &--bold {
    @include bold();

    @media (min-width: $tablet) {
      font-size: 30px;
    }
  }
}

.hotel-search__link {
  display: block;
  width: 280px;
  padding: 16px 0;
  margin: 34px auto 50px auto;

  @include bold();
  @include bg-blue-col-white();

  @media (min-width: $tablet) {
    width: 457px;
    margin-top: 45px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop) {
    width: 457px;
    margin-top: 48px;
    margin-bottom: 67px;
  }
}
