.hotels-search {
  padding-top: 30px;
  background-color: $white;
  text-align: center;

  @media (min-width: $tablet) {
    padding-top: 55px;
  }
}

.hotels-search__text {
  padding: 0 20px;
  margin-top: 18px;
  line-height: 23px;

  @media (min-width: $tablet) {
    width: 400px;
    margin: 25px auto 0 auto;
  }

  @media (min-width: $desktop) {
    width: 400px;
    margin: inherit auto;
  }

  &--bold {
    @include bold();

    @media (min-width: $tablet) {
      font-size: 30px;
    }
  }
}

.hotel-search__link {
  display: block;
  width: 280px;
  padding: 16px 0;
  margin: 34px auto 50px auto;

  @include bold();
  @include bg-blue-col-white();
  @include button-int();

  @media (min-width: $tablet) {
    width: 457px;
    margin-top: 45px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop) {
    width: 457px;
    margin-top: 48px;
    margin-bottom: 67px;
  }
}

.hotels-search__map {
  background-image: url("../img/img/bg-map-mobile@1x.jpg");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/img/bg-map-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    background-image: url("../img/img/bg-map-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/img/bg-map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/img/bg-map-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/img/bg-map-desktop@2x.jpg");
    }
  }

  & iframe {
    width: $mobile;
    height: 350px;

    @media (min-width: $tablet) {
      width: $tablet;
    }

    @media (min-width: $desktop) {
      width: 1200px;
    }
  }
}
