.main-nav {
  display: none;
  flex-direction: column;
  text-align: center;
  box-shadow: inset 0 -3px 5px 0 rgba(108, 150, 176, 1);

  &--opened {
    display: block;
  }

  @media (min-width: $tablet) {
    display: block;
    height: 100%;
    box-shadow: none;
    padding: 0 $pad-mob 0 50px;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: $white;
    border: none;
  }
}

.main-nav__item,
.main-nav__link {
  color: $white;
  font-size: 18px;
  line-height: 42px;
  font-weight: 700;
  padding: 6px 0;

  @media (min-width: $tablet) {
    color: $black;
    font-size: 14px;
    line-height: 26px;
  }

  &--photo {
    @media (min-width: $tablet) {
      margin-left: 26px;
    }
  }

  &--form {
    @media (min-width: $tablet) {
      margin-left: 157px;
    }
  }
}

.main-nav__item {
  background-color: $blue;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &--first {
    border-top: none;
  }

  &--last {
    border-bottom: none;
  }

  @media (min-width: $tablet) {
    border: none;
    background-color: $white;
  }
}
