.main-nav {
  display: none;
  flex-direction: column;
  text-align: center;
  box-shadow: inset 0px -3px 5px 0px rgba(108,150,176,1);
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item,
.main-nav__link {
  color: $white;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}

.main-nav__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  &--first {
    border-top: none;
  }
  &--last {
    border-bottom: none;
  }
}

.main-nav__item {
  background-color: $blue;
}
