.main-nav.no-js {
  @media (min-width: $mobile) and (max-width: $mobile-max) {
    display: flex;
  }
}

.site-logo.no-js {
  @media (min-width: $mobile) and (max-width: $mobile-max) {
    top: auto;
    bottom: -30px;
  }
}

.header__button.no-js {
  @media (min-width: $mobile) and (max-width: $mobile-max) {
    display: none;
  }
}
