.header.no-js {
  @media (min-width: 320px) and (max-width: 767px) {
    padding-bottom: 55px;
  }
}

.main-nav.no-js {
  @media (min-width: $mobile) and (max-width: $mobile-max) {
    display: flex;
  }
}

.site-logo.no-js {
  @media (min-width: $mobile) and (max-width: $mobile-max) {
    top: auto;
    bottom: -35px;
  }
}

.header__button.no-js {
  @media (min-width: $mobile) and (max-width: $mobile-max) {
    display: none;
  }
}
