.promo {
  padding: 40px 25px 30px 25px;
  background-color: $white;
  line-height: 26px;
  text-align: center;
}

.promo__title {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.promo__sub-title {
  display: block;
  margin-top: 25px;
  font-size: 14px;
}
