.promo {
  padding: 40px 20px 30px 20px;
  background-color: $white;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet) {
    padding-bottom: 50px;
  }

  &--inner {
    padding: 38px 20px 29px 20px;

    @media (min-width: $desktop) {
      padding-top: 76px;
      padding-bottom: 72px;
    }

    & .promo__title {
      width: 278px;

      @media (min-width: $tablet) {
        font-size: 30px;
        margin: 34px auto 0;
      }

      &--video {
        @media (min-width: $tablet) {
          width: auto;
        }

        @media (min-width: $desktop) {
          margin-top: 40px;
        }
      }
    }
  }

  &--form {
    line-height: 23px;
    padding-bottom: 24px;

    & .promo__title {
      margin-bottom: 30px;
      
      @media (min-width: $tablet) {
        width: auto;
      }
    }
  }
}

.promo__title {
  font-size: 18px;
  padding: 0;
  margin: 0 auto;
  width: 270px;

  @media (min-width: $tablet) {
    font-size: 21px;
    line-height: 25px;
    width: 80%;
    margin: 10px auto 0 auto;
  }

  @media (min-width: $desktop) {
    width: 50%;
    margin: 11px auto 0 auto;
  }

  &--video {
    margin: 0 auto 28px auto;

    @media (min-width: $desktop) {
      width: auto;
    }
  }
}

.promo__sub-title {
  display: block;
  margin: 30px auto 0 auto;
  font-size: 14px;
  line-height: 24px;

  &--inner {
    margin: 25px auto 0 auto;
    width: 98%;

    @media (min-width: $tablet) {
      margin: 31px auto 0 auto;
      width: 61.4%;
    }

    @media (min-width: $desktop) {
      width: 38%;
    }
  }

  &--video {
    @media (min-width: $tablet) {
      width: 68%;
    }

    @media (min-width: $desktop) {
      width: 62%;
    }
  }
}
