.reasons {
  background-color: $white;
  text-align: center;
}

.reasons__large {
  @include flex();
}

.reasons__items {
  @include flex();
}

.reasons__item {
  padding: 25px 35px;
  background-color: #eee;
  &--blue {
    padding: 35px 25px;
    @include bg-blue-col-white();
  }
}

.reasons__item-img {
  width: 100%;
  height: auto;
}
