.social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 39px;
  padding-top: 7px;
  cursor: pointer;

  @include bg-blue-col-white();

  &:hover {
    background-color: #669ec0;
  }

  &:active svg {
    opacity: 0.3;
  }

  & svg {
    fill: $white;
  }
}
