.social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;

  @include bg-blue-col-white();
}
