$blue: #81b3d2;
$white: #ffffff;
$grey: #eeeeee;
$black: #000000;

$mobile: 320px;
$mobile-max: 767px;
$tablet: 768px;
$desktop: 1280px;

$pad-mob: 25px;
$pad-tab: 60px;

@mixin font() {
  font-family: "PT Sans", "Arial", sans-serif;
}

@mixin flex() {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
}

@mixin center() {
  text-align: center;
}

@mixin bold() {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

@mixin bg-blue-col-white() {
  background-color: $blue;
  color: $white;
}

@mixin button-int {
  &:hover {
    background-color: #669ec1;
  }

  &:focus {
    background-color: #5596be;
    color: rgba(255, 255, 255, 0.3);
  }

  &[disabled] {
    background-color: #e5e5e5;
  }
}
