.video {
  background-color: $white;
  padding-bottom: 100px;

  @media (min-width: $tablet) {
    padding: 0 $pad-tab;
  }

  @media (min-width: $desktop) {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .promo {
    padding-top: 30px;
  }
}
