$blue: #81b3d2;
$white: #fff;

@mixin flex() {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
}

@mixin bold() {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

@mixin bg-blue-col-white() {
  background-color: $blue;
  color: $white;
}
